@import '~prism-theme-one-dark/prism-onedark.css'

// Highlight theme
.token.namespace
  color #e06c75

// Index
.wrapper
  position relative
  padding-bottom 56.25%
  padding-top 25px
  height 0

  iframe
    position absolute
    top 0
    left 0
    height 100%
    width 100%
    border 0

// Apps page
.apps .page-edit
  display none

.apps .theme-default-content
  max-width 960px !important
